<div class="text-center">
  <h1>Sign up</h1>
</div>

<div class="row">
  <div class="mx-auto mt-5">

    <%= form_with(model: @user, local: true) do |f| %>
     <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group form-inline">
        <div class="col-3"><%= f.label :name, 'Name' %></div>
        <div class="col-3"><%= f.text_field :name, class: 'form-control', size: 30 %></div>
      </div>
      
      <div class="form-group form-inline">
        <div class="col-3"><%= f.label :password, 'Password' %></div>
        <div class="col-3"><%= f.password_field :password, class: 'form-control', size: 30 %></div>
        
      </div>

      <div class="form-group form-inline">
        <div class="col-3"><%= f.label :password_confirmation, 'Confirmation' %></div>
        <div class="col-3"><%= f.password_field :password_confirmation, class: 'form-control', size: 30 %></div>
      </div>

      <%= f.submit 'Sign up', class: 'btn btn-outline-dark btn-block mt-5' %>
      
      <div class="text-right mt-2">
        <p>Login</p>
      </div>

    <% end %>
  </div>
</div>