<div class="row">
    <div class="text-center offset-sm-2 col-sm-8">
        <%= form_with(url: root_path, method: :get, class: "form-inline offset-sm-1 col-sm-10", local: true) do |f| %>
        <div class="mt-5 col-sm-12">
                <%= text_field_tag :keyword, params[:keyword], class: 'form-control col-sm-10' %>
                <%= f.submit 'Search',class: 'btn btn-outline-secondary ' %>
        </div>
 　　　　　<% end %>
    </div>
</div>


<div class="row">
    <div class="offset-sm-3 col-sm-6" style="word-break: break-all;">
        <ul>
            <% @posts.each do |post| %>
             <li class="mt-sm-5"><%= link_to post.word, post %>・・・<%= post.description %></li>
            <% end %>
        </ul>
    </div>
</div>

<%= paginate @posts %>

<div class="text-center offset-sm-5 col-sm-2 mt-sm-5">
    <%= link_to 'Add Note', new_post_path, class: "btn btn-outline-secondary" %>
</div>
 
 