<div class="row">
    <div class="text-center offset-2 col-8">
        <%= form_with(url: root_path, method: :get, class: "form-inline offset-4", local: true) do |f| %>
        <div class="mt-5">
                <%= text_field_tag :keyword, params[:keyword], class: 'form-control' %>
                <%= f.submit 'Search',class: 'btn btn-outline-secondary' %>
        </div>
 　　　　　<% end %>
    </div>
</div>


<div class="row">
    <div class="offset-3 col-6" style="word-break: break-all;">
        <ul>
            <% @posts.each do |post| %>
             <li class="mt-5"><%= link_to post.word, post %>・・・<%= post.description %></li>
            <% end %>
        </ul>
    </div>
</div>

<%= paginate @posts %>

<div class="text-center offset-5 col-2 mt-5">
    <%= link_to 'Add Note', new_post_path, class: "btn btn-outline-secondary" %>
</div>
 
 