<div class="row">
    <div class="text-center offset-2 col-8">
        <%= form_with(url: root_path, method: :get, class: "form-inline offset-3 col-6", local: true) do |f| %>
        <div class="mt-5">
                <%= text_field_tag :keyword , nil, class: 'form-control' %>
                <%= f.submit 'Search',class: 'btn btn-outline-dark' %>
        </div>
 　　　　　<% end %>
    </div>
</div>


<div class="row">
    <div class="offset-3 col-6">
        <ul>
            <% @posts.each do |post| %>
            <div class="mt-5"><li><%= link_to post.word, post %>・・・<%= post.description %></li></div>
            <% end %>
        </ul>
    </div>
</div>

<%= paginate @posts %>

<div class="text-center offset-5 col-2 mt-5">
    <%= link_to 'Add Note', new_post_path, class: "btn btn-outline-dark btn-block" %>
</div>
 
 