<div class="text-center mt-5">
  <h1><span class="border-bottom border-dark">Details</span></h1>
</div>
  
  <div class="row">
  <div class="offset-3 col-6">
  <div class="card mt-5" style="max-width: 34rem;">
    <h3 class="card-header text-center">
        <%= @post.word %>
    </h3>
    <ul class="list-group list-group-flush" style="word-break: break-all;">
        <li class="list-group-item"><%= safe_join(@post.description.split("\n"),tag(:br)) %></li>
    </ul>
    </div>
</div>
</div>
 
 
 <div class="row" >
   <div class=" text-center offset-4 col-4 mt-5">
     <%= link_to 'To Edit', edit_post_path(@post), class: 'btn btn-outline-dark text-secondary' %>
     <%= link_to 'Detele', post_path(@post), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-outline-dark btn-secondary' %>
     <%= link_to 'To List', posts_path, class: 'btn btn-outline-dark bg-light' %>
    </div>
 </div> 






